@model Protov4.DTO.ProductoDTO;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/adminsts.css">
    <title>Admin</title>
</head>
<body class="body-delete">
    <div class="mensaje-confirmacion">
        <h1><span>¡ALERTA¡</span></h1>
        <p><h3><strong>El producto seleccionado va a ser eliminado</strong></h3></p>
        <p>¿Seguro quiere eliminar el producto?</p>
        <h4>Producto</h4>
        <hr />
        <d1>
            <dt class="columna-elim">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dt class="columna-elim">
                @Html.DisplayNameFor(model => model.Nombre_Producto)
            </dt>
            <dt class="columna-elim">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dt class="columna-elim">
                @Html.DisplayNameFor(model => model.Marca)
            </dt>
            <dt class="columna-elim">
                @Html.DisplayNameFor(model => model.Existencia)
            </dt>
            <dt class="columna-elim">
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
        </d1>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="confirmar-btn" />
            <a asp-action="Index">Cancelar</a>
        </form>
    </div>
</body>
</html>