@model Protov4.DTO.ProductoDTO;

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/adminsts.css">
    <title>Admin</title>
</head>
<body class="body-delete">
    <div class="mensaje-confirmacion">
        <h1><span>¡ALERTA¡</span></h1>
        <p><h3><strong>El producto seleccionado va a ser eliminado</strong></h3></p>
        <p>¿Seguro quiere eliminar el producto?</p>
        <h4>Producto</h4>
        <hr />
        <d1>
            <dt class="columna-elim">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dt class="columna-elim">
                @Html.DisplayNameFor(model => model.Nombre_Producto)
            </dt>
            <dt class="columna-elim">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dt class="columna-elim">
                @Html.DisplayNameFor(model => model.Marca)
            </dt>
            <dt class="columna-elim">
                @Html.DisplayNameFor(model => model.Existencia)
            </dt>
            <dt class="columna-elim">
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
        </d1>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="confirmar-btn" />
            <a class="cancelar-btn" asp-action="Index">Cancelar</a>
        </form>
    </div>
</body>
</html>